<div style="position: relative; padding-top: 56.25%">
  <iframe
    src="https://iframe.mediadelivery.net/embed/205401/2ef3d330-75e5-4500-b016-1fd4b6a60624?token=5c969d7b3c01306016d948a01b5ad898371575c4b1dc5760d2ff87e8aee084fd&expires=1708862742&autoplay=true&loop=false&muted=false&preload=false&responsive=true"
    loading="lazy"
    style="border: none; position: absolute; top: 0; height: 100%; width: 100%"
    allow="accelerometer; gyroscope; autoplay; encrypted-media; picture-in-picture;"
    allowfullscreen="true"
  >
  </iframe>
</div>
