.pageTitle {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 19px;
  }
  
  .pageTitle svg {
    font-size: 22px;
  }
  
  .pageTitle a,
  .pageTitle h3 {
    color: black;
    font-size: 15px;
    text-decoration: none;
    margin-bottom: 0;

  }

  .checkout{
    padding:  30px 35px 30px 26px;
  }